---
BasedOnStyle: Google
AlignArrayOfStructures: Left
AlignConsecutiveMacros:
  Enabled: true
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignTrailingComments:
  Kind: Leave
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
ColumnLimit: 120
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
LambdaBodyIndentation: OuterScope
NamespaceIndentation: All
ReflowComments: Never
SpacesBeforeTrailingComments: 1
TabWidth: 2
